---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_typography";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  height: 100%;
  width: 100%;
  font-size: 75%;
}

body {
  height: 100%;
  width: 100%;
	background: $light-color !important;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
  width: 100%;
}


p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.post-meta {
  font-style: italic;
  color: gray;
}

// Specify the color of the selection
::-moz-selection {
  color: black;
  background: gray;
}
::selection {
  color: black;
  background: gray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

header {
  position: relative;
  background: url(./images/bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  padding: 20px;
  color: $light-color;
  .logo {
    width: 50%;
    position: relative;
    float: left;
    color: $light-color;
  }
  a {
    @extend .logo;
    text-align: right;
    span {
      font-weight: bold;
      border: 2px solid $light-color;
      border-radius: 2em;
      padding: 5px 15px;
      color: $light-color;
      font-size: 2rem;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: all .2s ease-in-out;
      &:hover {
        border-color: $accent-color;
        background: $accent-color;
        cursor: pointer;
        color: $light-color;
      }
    }
  }
  .hero {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		color: $light-color;
		text-align: center;
		-webkit-transform: translateY(-50%) translateX(-50%);
		-moz-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
		text-shadow: $text-shadow;
    h1, h3 {
      color: $light-color;
    }
    .small-divider {
			height: 6px;
			width: 60px;
			position: relative;
			border: none;
			margin: 10px auto 20px;
			background: $accent-color;
		}
  }
}
// POSTS

.main-post {
  &:hover {
    background: #fff;
  }
  h3 a{
    color: $strong-text;
  }
  .wrapper {
    border-bottom: 1px solid $light-border;
    padding: 80px 0;
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
