
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$light-color: #fafafa;
$text-color: #3a3a3a;
$light-text: #828282;
$strong-text: #524E4D;
$accent-color: #3498DB;
$light-border: #e3e9e9;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}
